<% layout('layouts/boilerplate') %>
<div class="container bruh">
  <div class="row">
    <div class="col-3">
      <aside>
        <header>
          <input type="text" placeholder="search" />
        </header>
        <ul>
          <% for(let use of users ) {%>
          <a href="/messages/<%= use._id %>">
            <li>
              <img src="<%= use.profilePicture  %>" alt="" />
              <div>
                <h2><%= use.first %> <%= use.last %></h2>
                <h3>
                  <span class="status orange"></span>
                  offline
                </h3>
              </div>
            </li></a
          >

          <% } %>
        </ul>
      </aside>
    </div>
    <div class="col-9">
      <div class="chat-container">
        <div class="chat-header">
          <div class="participants">
            <ul>
              <li class="wow">
                <img
                  class="profile-pic"
                  src="<%= user.profilePicture  %>"
                  alt="others"
                />
              </li>
              <li class="wow">
                <img
                  class="profile-pic"
                  src="<%= recUser.profilePicture  %>"
                  alt="me"
                />
              </li>
            </ul>
            <span class="text-white mx-1" data-i18n="You"> </span>
            <span class="text-white"
              >, <%= recUser.first %> <%= recUser.last %></span
            >
          </div>
          <div class="call-buttons-xd">
            <a
              class="btn btn-primary call-button"
              href="/messages/<%= user._id  %>/<%= recUser._id  %>"
            >
              <i class="fa-solid fa-phone"></i
            ></a>
          </div>
        </div>

        <div class="chat-box">
          <% messages.forEach(function(message){ %>
          <div
            class="message <%= message.sender._id.equals(user._id) ? 'sent' : 'received' %>"
          >
            <div
              class="d-flex <%= message.sender._id.equals(user._id) ? 'ml-auto' : 'mr-auto' %>"
            >
              <p><%= message.message %></p>
              <% if(message.sender._id.equals(user._id)) {%>
              <form
                action="/messages/<%= recUser._id  %>?_method=DELETE"
                method="POST"
                style="margin: 0; padding: 0; display: inline-block"
                id="delete-form"
              >
                <input
                  type="hidden"
                  name="messageId"
                  value="<%=message._id%>"
                />

                <button onclick="confirmDelete()" class="btn btn-danger ml-2">
                  &times;
                </button>
              </form>
              <% } %>
            </div>

            <span class="time"><%= message.timestamp.toLocaleString() %></span>
          </div>
          <% }) %>
        </div>
        <% if (recUser && recUser._id) { %>
        <form action="/messages/<%=recUser._id%>" method="POST">
          <div class="message-input">
            <input
              type="text"
              id="message"
              name="message"
              placeholder="Type your message here"
            />
            <button class="btn btn-success">
              <span class="text-white" data-i18n="Send"></span>
            </button>
          </div>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete this message?")) {
      document.getElementById("delete-form").submit();
    }
  }
</script>
<style>
  .container {
    min-width: 1399px;
  }
</style>
